body{
    margin: 0px;
    padding: 0px;
    background: url("img/gymphoto.jpg");
    color: white;
    font-family: 'Baloo Bhai', cursive;
}

.left{
    display: inline-block;
    position: absolute;
    left:34px;
    top: 20px;
}
.left img{
    width:136px;
    filter: invert(100%);
}

.left div {
    line-height: 19px;
    font-size: 26px;
    text-align: center;
}
.mid{
    display: block;
    width: 55%;
    margin: 29px auto;
    font-size: 22px;
}

.right{
    display: inline-block;
    position: absolute;
    right:34px;
    top:43px;
}


.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    text-decoration: none;
    color: white;
    padding: 9px;
}

.navbar li a:hover , .navbar li a.active{
    text-decoration: underline;
    color: gray;
}

.btn{
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    font-size: 18px;
    border:2px solid gray;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    cursor: pointer;
}

.container{
    border: 2px solid white;
    margin: 106px 80px;
    border-radius: 28px;
    padding: 50px;
    width: 33%;
}

.form-group input{
    font-family: 'Baloo Bhai', cursive;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    display: block;
    width: 450px;
    padding: 1px;
    margin: 11px auto;
    font-size: 20px;
}

.container button{
    display: block;
    width:70%;
    margin: 20px auto;
}
